fastapi==0.109.2
uvicorn==0.27.1
celery==5.3.6
redis==5.0.1
pandas==2.2.0
streamlit==1.31.1
requests==2.31.0
pyperclip==1.8.2
xlsxwriter==3.1.9
email-validator==2.1.0.post1
dnspython==2.5.0
python-multipart==0.0.9 